DATABASE_URL="postgresql://postgres:postgres@localhost:5432/analytics?schema=public"
PORT=3001

# Authentication
ACCESS_SECRET="your-access-secret-min-32-chars-here"
REFRESH_SECRET="your-refresh-secret-min-32-chars-here"
ACCESS_TOKEN_EXPIRY="15m"
REFRESH_TOKEN_EXPIRY="7d"
